/* src/AddTodos.css */
.add-todos {
  display: flex;
  margin: 20px;
}

.add-todos input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.add-todos button {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: #da4610;
  color: white;
  cursor: pointer;
}

.add-todos button:hover {
  background-color: #0056b3;
}
